@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --font-sans: "Poppins", sans-serif;
  --font-mono: var(--font-geist-mono);
  
  --color-color1: #5C2D2D;
  --color-color2: #FF48B6;
  --color-color3: #FFA740;
  --color-color4: #07B704;
  --color-dark1: #000000;
  --color-light1: #ffffff;
  --color-light2: #F7F7F9;
  --color-light3: #E4E6EB;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.card-slide-content {
  @apply bg-light1 rounded-3xl absolute top-1/2 z-10 p-5 max-w-[305px] transition-all opacity-0;
  left: 100px;
  transition-duration: 1000ms;

  transform: translateY(-45%) rotate3d(1, 0, 0, -20deg);
}

.swiper-slide-active .card-slide-content {
  @apply opacity-100;
  transform: translateY(-50%) rotate3d(1, 1, 1, 0deg);
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 30px;
}